h2 {
  text-align: center;
}

#section-form .form-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  padding: 10px;
  border: 1px solid;
  border-radius: 20px;
}

.form-box form.form-item {
  display: flex;
  justify-content: center;
  gap: 5px;
  width: 40vw;
}

.form-box form.form-item input {
  width: 250px;
  text-align: center;
  padding: 4px;
  border: 1.3px solid;
  border-radius: 13px;
  font-size: 14px;
  font-family: "Winky Sans", sans-serif;
}

.form-box form.form-filter {
  display: flex;
  justify-content: center;
  gap: 15px;
  width: 40vw;
}
